In [1]:
numbers = [1,2,3,4,5,6]
numbers

[1, 2, 3, 4, 5, 6]

In [2]:
for x in numbers:
    print(x)

1
2
3
4
5
6

In [3]:
for x in numbers:
    print(x*x)

1
4
9
16
25
36

In [6]:
r = range(1, 6)

In [7]:
for i in r:
    print(i)

1
2
3
4
5

In [10]:
for i in r:
    if i % 2 == 0:
        print('yes')
    else:
        print('no')

no
yes
no
yes
no

In [11]:
numbers = [1,2,3,4,5,6] #enumerate преврашает лист в лист тюплов и синдексами
for i, item in enumerate(numbers):
    numbers[i] *= 2
numbers

[2, 4, 6, 8, 10, 12]

In [12]:
name = 'John'
for l in name:
    print(l)

J
o
h
n

In [13]:
for _ in range(5):
    print('Hi!')

Hi!
Hi!
Hi!
Hi!
Hi!

In [14]:
person = ('John', 'Silver', 23)
for item in person:
    print(item)

John
Silver
23

## Tuple unpacking

In [15]:
persons = [('John', 'Silver', 23), ('Yan', 'Gold', 34)]
len(persons)

2

In [18]:
for (first_name, last_name, age) in persons:
    print(f'{first_name} is {age} years old.')

John is 23 years old.
Yan is 34 years old.

In [19]:
players = dict(Carlsen=2233, Caruana=2311, Mamedyarov=5611)

In [20]:
for item in players:
    print(item)

Carlsen
Caruana
Mamedyarov

In [21]:
for item in players.items():
    print(item) #вернет тюплы

('Carlsen', 2233)
('Caruana', 2311)
('Mamedyarov', 5611)

In [23]:
for k, v in players.items(): #Tuple unpacking
    print(f'Name {k}')

Name Carlsen
Name Caruana
Name Mamedyarov

In [24]:
for v in players.values():
    print(v)

2233
2311
5611

In [26]:
#find all pairs sum of witch equals 0
list1 = [2,4,-5,6,8,-2]
list2 = [2,-6,8,3,5,-2]

pairs = []

for x in list1:
    for y in list2:
        cur_sum = x + y
        if cur_sum == 0:
            pairs.append((x, y))
            
pairs

[(2, -2), (-5, 5), (6, -6), (-2, 2)]